<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FitnessTracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KKRRVB62S7"></script>
    <style>
        #footer {
            bottom: 0;
            color: #707070;
            height: 2em;
            left: 0;
            position: relative;
            width: 100%;
        }
    </style>
</head>
<body class=" ">
    @*<div class="row mx-0">
        <div id="sidebar" class="col-2 p-0 bg-primary">
            <div class="navbar-brand text-white" style="font-size:23px">Fitness Tracker</div>

            <ul class="text-white" style="font-size: 15px;">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Workout" asp-action="Summary">Workout Plans</a></li>
                <li><a asp-controller="Bodyweight" asp-action="Summary">Bodyweight</a></li>
                <li><a asp-controller="Goal" asp-action="Summary">Goal</a></li>
                <li><a asp-controller="Nutrition" asp-action="Summary">Nutrition</a></li>



            </ul>
        </div>

        <app-footer _ngcontent-rry-c23="" _nghost-rry-c22="">
            <nav _ngcontent-rry-c22="" class="navbar fixed-bottom navbar-light bg-white">
                <div _ngcontent-rry-c22="" class="container-fluid" style="color:dimgray">
                    <a _ngcontent-rry-c22="" href="/home" class="navbar-brand" style="color: rgb(128 128 128);">
                        <i _ngcontent-rry-c22="" class="devicon"></i>
                    </a>
                    <a _ngcontent-rry-c22="" href="https://github.com/SwarupaPedapalli/FitnessTrack" class="navbar-brand">
                        <i _ngcontent-rry-c22="" class="devicon-github-original colored"></i> Repo
                    </a>
                    <a _ngcontent-rry-c22="" href="https://github.com/SwarupaPedapalli/FitnessTrack/projects/2" class="navbar-brand">
                        <i _ngcontent-rry-c22="" class="devicon-github-original colored"></i> Project Board
                    </a>
                    <a _ngcontent-rry-c22="" href="https://github.com/SwarupaPedapalli/FitnessTrack/projects/2" class="navbar-brand">
                        <i _ngcontent-rry-c22="" class="devicon-github-original colored"></i> Personal wiki
                    </a>
                </div>
            </nav>
        </app-footer>*@

        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Fitness Tracker</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Workout" asp-action="Summary">Workout Plans</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Bodyweight" asp-action="Summary">Body Weight</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Goal" asp-action="Summary">Goal</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Nutrition" asp-action="Summary">Nutrition</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <footer id="footer" class="border-top footer text-muted">
            <div class="container">
                &copy; 2022 - Fitness Tracker - 
                <a href="https://github.com/SwarupaPedapalli/FitnessTrack" target="_blank">
                     Repo
                </a> | 
                <a  href="https://github.com/SwarupaPedapalli/FitnessTrack/projects/2" target="_blank">
                    Project Board
                </a> | 
                <a  href="https://github.com/SwarupaPedapalli/FitnessTrack/projects/2" target="_blank">
                     Personal wiki's
                </a>
            </div>
        </footer>
        <script src="https://kit.fontawesome.com/a02247f0e6.js" crossorigin="anonymous"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <partial name="_ValidationScriptsPartial" />
        @RenderSection("Scripts", required: false)
    @*</div>
    </div>*@
    @*<header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Fitness Tracker</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Workout" asp-action="Summary">Workout Plans</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Bodyweight" asp-action="Summary">Body Weight</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Goal" asp-action="Summary">Goal</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Nutrition" asp-action="Summary">Nutrition</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>*@
</body>
</html>
