@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To</h1>
   <h2>Fitness Tracker</h2>
   
</div>

<div class="container mt-5" style="margin-left: 350px">
	<div class="card" style="width:18rem; align-content:center">
    <img src="images/gym.jpg" class="card-img-top" alt="">
    <img src="images/gym.jpg" alt="fitness_image"/>

      <div class="card-body">
          <h5 class="card-title">Fitness Track</h5>
          <p class="card-text">Exercise is any bodily activity that enhances or maintains physical fitness and overall health and wellness</p>
        <a href="#" class="btn btn-primary" style="margin-left:80px" onclick="viewPage()">See more</a>
      </div>
    </div>
