@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To</h1>
   <h2>Fitness Tracker</h2>
   
</div>

<div class="container mt-5" style="margin-left: 350px">
	<div class="card" style="width:18rem; align-content:center">
      <img src="@Model.HabitModel.habitImage" class="card-img-top" alt="...">
      <div class="card-body">
          <h5 class="card-title">@Model.HabitModel.habitTitle</h5>
          <p class="card-text">@Model.HabitModel.habitDescription</p>
        <a href="#" class="btn btn-primary" style="margin-left:80px" onclick="viewPage()">See more</a>
      </div>
    </div>
</div>
   
</div>
